
.main{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.column{
	float: left;
    width: 50%;
}

.navHeader{
	background-color: #EEEEEE;
	margin: 5px;
	padding: 10px;
}

.navLogo{
	height:50px;
	float:left;
}

.navbar{
	margin: 10px;
	background-color: #ba1f13;
	
}

.nav-link{
	color: white ;
	text-decoration: none;
	font-size: 1.2em;
	margin: 0 15px;
	font-weight: 550;
}

.logBtn{
	color: white;
    /* background-color: transparent; */
    border-color: white;
}

.logBtn:hover{
	background-color: white;
	color: #ba1f13;
}

.page-footer{
	background-color: #EEEEEE;
	margin: 5px;
	padding: 10px;
}

.carShortInfo{
	border-style: none none solid none;
	/* border-color: #EEEEEE; */
	border-width: 0.5px;
	padding: 20px 0px;
}

.carPhoto{
	/* width: 100%; */
	height: auto;
	/* min-width: 80px; */
	width: 80px;
}

.carInfoList{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.filterBox{
	margin: 20px;
	padding: 10%;
	border-style: solid;
	border-width: 1px;
	
}

.invisible{
	visibility: invisible;
}

.carLink{
	style: none;
}