body{
	background-color: #EAEEF2;
}

.main{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.column{
	float: left;
    width: 50%;
}

.navHeader{
	background-color: #EEEEEE;
	margin: 5px;
	padding: 10px;
}

.navLogo{
	height:50px;
	float:left;
}

.navbar{
	background-color: #fafafa;
	
}

.nav-link, .footerTxt{
	color: #BA1F13;
	text-decoration: none;
	font-size: 1.2em;
	margin: 0 15px;
	font-weight: 550;
}

.footerTxt{ font-size: 0.8em; font-weight: 350; }

/*note to change button classes */

.logBtn{
	color: white;
    /* background-color: transparent; */
    border-color: white;
}

.logBtn:hover{
	background-color: white;
	color: #ba1f13;
}

.page-footer{
	background-color: #fafafa;
	margin: 5px;
	padding: 10px;
	
}

.form-control:hover{
	background-color: rgba(186,31,19, 0.6);
	color: white;
}

.form-control:active{
	background-color: grey;
	color: white;
}



.carShortInfo{
	border-style: solid;
	border-color: #cccccc;
	border-width: 0.5px;
	padding: 20px 0px;
	margin: 10px;
	background-color: #ffffff;
}

.carPhoto{
	/* width: 100%; */
	height: auto;
	/* min-width: 80px; */
	width: 80px;
}

.carInfoList{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.carTitle{
	color: #06386d;
}
	
.filterBox{
	padding: 16px;
	background-color: #fafafa;
}

.filterGroup{
	padding: 8px;
	color: #120F0F;
	border: 1px solid grey;
	border-collapse: collapse;
}

.invisible{
	visibility: invisible;
}

.carLink, .carLink:hover{
	text-decoration: none;
	color: black;
}

